/* css/eighth-screen.css */

.pagecrm_eighth-screen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background: linear-gradient(
    135deg,
    var(--bg-color) 0%,
    var(--header-bg) 100%
  );
  color: var(--text-color);
}

.pagecrm_crm-partners {
  flex: 1;
  text-align: left;
}

.pagecrm_crm-partners h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.pagecrm_partners-list {
  list-style: none;
  padding: 0;
}

.pagecrm_partners-list li {
  margin-bottom: 15px;
}

.pagecrm_partners-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

.pagecrm_partners-list li a img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.pagecrm_partners-list li a .pagecrm_arrow {
  margin-left: auto;
  font-size: 24px;
  color: var(--text-color);
}

.pagecrm_contact-form-section {
  flex: 1;
  text-align: left;
}

.pagecrm_contact-form-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.pagecrm_contact-form-section p {
  font-size: 16px;
  margin-bottom: 20px;
}

.pagecrm_contact-form {
  display: flex;
  flex-direction: column;
}

.pagecrm_contact-form input,
.pagecrm_contact-form textarea,
.pagecrm_contact-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.pagecrm_contact-form button {
  background: var(--cta-bg);
  color: var(--text-color);
  cursor: pointer;
}

.pagecrm_contact-form button:hover {
  background: var(--cta-hover-bg);
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .pagecrm_eighth-screen {
    flex-direction: column;
    padding: 30px 10px;
  }

  .pagecrm_crm-partners,
  .pagecrm_contact-form-section {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .pagecrm_partners-list li a {
    flex-direction: column;
    align-items: flex-start;
  }

  .pagecrm_partners-list li a .pagecrm_arrow {
    margin-left: 0;
    margin-top: 10px;
  }
}
