/* css/fifth-screen.css */

.pagecrm_fifth-screen {
  padding: 50px 100px;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  text-align: center;
  color: var(--text-color);
}

.pagecrm_fifth-screen h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.pagecrm_fifth-screen p {
  font-size: 20px;
  margin-bottom: 40px;
}

.pagecrm_case-cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.pagecrm_case-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px 0;
  width: 700px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.pagecrm_case-card:hover {
  transform: scale(1.05);
}

.pagecrm_case-card .pagecrm_case-logo {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.pagecrm_case-details {
  flex: 1;
  text-align: left;
}

.pagecrm_case-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.pagecrm_case-card p {
  font-size: 16px;
  margin: 5px 0;
}

.pagecrm_case-card .pagecrm_cta-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--cta-bg);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.pagecrm_case-card .pagecrm_cta-button:hover {
  background-color: var(--cta-hover-bg);
  box-shadow: 0 0 10px rgba(255, 0, 122, 0.5);
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .pagecrm_fifth-screen {
    padding: 30px 20px;
  }

  .pagecrm_case-cards {
    flex-direction: column;
    align-items: center;
  }

  .pagecrm_case-card {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .pagecrm_case-card .pagecrm_case-logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .pagecrm_case-details {
    text-align: center;
  }
}
