/* css/first-screen.css */

.pagecrm_main {
  text-align: center;
  padding: 50px 100px;
  background: none;
  color: var(--text-color);
  position: relative;
  overflow: hidden;
}

#pagecrm_canvas-wave-noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.pagecrm_main::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagecrm_breadcrumbs {
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  top: 24px;
  left: 102px;
  margin-bottom: 20px;
  z-index: 2;
}

.pagecrm_breadcrumbs a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 5px;
}

.pagecrm_main h1 {
  font-size: 65px;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}

.crm-illustration {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}

.pagecrm_cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagecrm_cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 24px;
  color: var(--text-color);
  background-color: var(--cta-bg-new); /* Новый фон */
  border: 2px solid transparent;
  border-radius: 20px;
  text-decoration: none;
  z-index: 2;
  position: relative;
  background-image: linear-gradient(var(--cta-bg-new), var(--cta-bg-new)), var(--cta-border-gradient); /* Градиентная обводка */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.pagecrm_cta-button:hover {
  background-color: var(--cta-hover-bg);
  box-shadow: var(--box-shadow);
}

.pagecrm_icon-column {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  right: 0;
  z-index: 2;
  justify-content: center;
  background-color: rgba(29, 1, 65, 0.7);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 12px;
  width: 48px;
  height: 94px;
  margin-right: -10px;
}

.pagecrm_icon {
  width: 25px;
  height: 25px;
  filter: var(--icon-glow-blue);
  align-self: center;
}

.pagecrm_icon.line-icon {
  width: 38px;
  height: 1px;
  filter: none;
  background-color: rgba(0, 255, 255, 0.8);
  align-self: center;
}

@media (max-width: 768px) {
  .pagecrm_main {
    padding: 30px 20px;
  }

  .pagecrm_breadcrumbs {
    top: 10px;
    left: 20px;
  }

  .pagecrm_main h1 {
    font-size: 40px;
  }

  .crm-illustration {
    max-width: 100%;
    height: auto;
  }

  .pagecrm_cta-button {
    font-size: 18px;
    padding: 10px 20px;
  }

  .pagecrm_icon-column {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: -10px;
  }

  .pagecrm_icon {
    width: 25px;
    height: 25px;
  }

  .pagecrm_icon.line-icon {
    width: 25px;
    height: 2px;
  }

  #pagecrm_canvas-wave-noise {
    display: none;
  }
}
