/* css/first-screen.css */

.pagecrm_main {
  text-align: center;
  padding: 50px 100px;
  background: var(--bg-color);
  color: var(--text-color);
  position: relative;
  overflow: hidden;
}

.pagecrm_main::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent 70%);
  animation: rotate 10s linear infinite;
  z-index: 0;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pagecrm_breadcrumbs {
  position: absolute;
  top: 20px;
  left: 100px;
  margin-bottom: 20px;
  z-index: 1;
}

.pagecrm_breadcrumbs a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 5px;
}

.pagecrm_main h1 {
  font-size: 48px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

.pagecrm_main img {
  max-width: 50%;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

.pagecrm_cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagecrm_cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 24px;
  color: var(--text-color);
  background-color: var(--cta-bg);
  border: 2px solid transparent;
  border-radius: 20px;
  text-decoration: none;
  z-index: 1;
  position: relative;
  background-clip: padding-box;
  transition: background-color 0.3s, transform 0.3s;
  overflow: hidden;
}

.pagecrm_cta-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  padding: 2px;
  background: var(--button-border-gradient);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.pagecrm_cta-button:hover {
  background-color: var(--cta-hover-bg);
  box-shadow: var(--box-shadow);
}
