/* css/footer.css */

.pagecrm_footer {
  flex-direction: column;
  padding: 40px;
  background: none;
  color: var(--text-color);
  position: relative;
  margin-top: 60px;
}

.pagecrm_container {
  max-width: 1400px;
  margin: 0 auto;
}

.pagecrm_footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.pagecrm_footer-menu {
  flex: 1;
  text-align: left;
}

.pagecrm_footer-contacts {
  flex: 1;
  text-align: left;
}

.pagecrm_map-container {
  flex: 1;
  text-align: right;
}

.pagecrm_footer-menu h2,
.pagecrm_footer-contacts h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pagecrm_footer-menu ul {
  list-style: none;
  padding: 0;
}

.pagecrm_footer-menu ul li {
  margin-bottom: 10px;
}

.pagecrm_footer-menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 36px;
  font-weight: 400;
}

.pagecrm_logo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.pagecrm_logo img {
  height: 40px;
  margin-right: 10px;
}

.pagecrm_logo span {
  font-size: 24px;
  font-weight: bold;
}

.pagecrm_logo small {
  display: block;
  font-size: 12px;
  color: #ccc;
}

.pagecrm_footer-contacts p {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

.pagecrm_footer-contacts a {
  color: var(--text-color);
  text-decoration: none;
}

.pagecrm_map-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pagecrm_map {
  width: 522.56px;
  height: 346px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), var(--box-shadow);
  margin: 0 auto;
}

.pagecrm_social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.pagecrm_social-icons a {
  margin-right: 10px;
}

.pagecrm_social-icons img {
  width: 24px;
  height: 24px;
}

.pagecrm_footer-text {
  font-size: 10px;
  color: var(--text-color);
  text-align: left;
  margin-top: 20px;
}

.pagecrm_footer-text a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .pagecrm_footer-content {
    flex-direction: column;
    align-items: left;
  }

  .pagecrm_footer-menu {
    display: none;
  }

  .pagecrm_footer-contacts h2 {
    text-align: center;
    font-size: 32px;
  }

  .pagecrm_logo {
    display: flex;
    margin-top: 20px;
  }

  .pagecrm_logo img {
    height: 40px;
    margin-right: 10px;
  }

  .pagecrm_logo span {
    font-size: 24px;
    font-weight: bold;
  }

  .pagecrm_logo small {
    display: block;
    font-size: 12px;
    color: #ccc;
  }

  .pagecrm_footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
  }

  .pagecrm_footer-contacts p {
    font-size: 24px;
    margin-bottom: -15px;
    font-weight: 400;
  }

  .pagecrm_footer-contacts a {
    color: var(--text-color);
    text-decoration: none;
  }

  .pagecrm_social-icons.mobile-icons {
    display: flex;
    margin: 20px 0;
  }

  .pagecrm_social-icons.desktop-icons {
    display: none;
  }

  .pagecrm_social-icons a {
    margin: 0 10px;
  }

  .pagecrm_social-icons img {
    width: 24px;
    height: 24px;
  }

  .pagecrm_map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 57px;
  }

  .pagecrm_map {
    width: auto;
    height: 203px;
    margin-top: 20px;
    align-items: center;
  }

  .pagecrm_logo.mobile-logo {
    display: flex;
    padding-top: 57px;
    padding-bottom: 38px;
  }

  .pagecrm_footer-text {
    font-size: 10px;
    color: var(--text-color);
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .pagecrm_footer-text a {
    color: var(--text-color);
    text-decoration: none;
    margin: 5px 0 0;
  }
}

@media (min-width: 769px) {
  .pagecrm_logo.mobile-logo {
    display: none;
  }

  .pagecrm_social-icons.mobile-icons {
    display: none;
  }

  .pagecrm_social-icons.desktop-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }

  .desktop-icons a {
    margin-right: 10px;
  }

  .pagecrm_footer-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-top: 20px;
  }

  .pagecrm_footer-text a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
