/* css/footer.css */

.pagecrm_footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: var(--bg-color);
  color: var(--text-color);
  position: relative; 
}

.pagecrm_footer-menu,
.pagecrm_footer-contacts {
  flex: 1;
  padding: 20px;
}

.pagecrm_footer-menu h2,
.pagecrm_footer-contacts h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pagecrm_footer-menu ul {
  list-style: none;
  padding: 0;
}

.pagecrm_footer-menu ul li {
  margin-bottom: 10px;
}

.pagecrm_footer-menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 36px;
  font-weight: 400;
}

.pagecrm_logo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.pagecrm_logo img {
  height: 40px;
  margin-right: 10px;
}

.pagecrm_logo span {
  font-size: 24px;
  font-weight: bold;
}

.pagecrm_logo small {
  display: block;
  font-size: 12px;
  color: #ccc;
}

.pagecrm_footer-contacts p {
  font-size: 24px;
  margin-bottom: 10px;
}

.pagecrm_footer-contacts a {
  color: var(--text-color);
  text-decoration: none;
}

.pagecrm_social-icons {
  margin: 20px 0;
}

.pagecrm_social-icons a {
  margin-right: 10px;
}

.pagecrm_social-icons img {
  width: 24px;
  height: 24px;
}

.pagecrm_map {
  width: 522.56px; /* Adjust the width for desktop */
  height: 346px; /* Adjust the height for desktop */
  position: absolute;
  right: 40px;
  bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), var(--box-shadow); /* добавляем свечение */
}

/* Styles for the footer text */
.pagecrm_footer-text {
  font-size: 10px;
  color: var(--text-color);
  position: absolute;
  bottom: 10px;
  left: 40px;
}

.pagecrm_footer-text a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .pagecrm_footer {
    flex-direction: column;
    padding: 20px;
  }

  .pagecrm_footer-menu,
  .pagecrm_footer-contacts {
    padding: 10px;
  }

  .pagecrm_logo {
    margin-top: 10px;
  }

  .pagecrm_map {
    position: relative;
    width: 341px; /* Adjust the width for mobile */
    height: 203px; /* Adjust the height for mobile */
    margin-top: 20px;
  }

  .pagecrm_footer-text {
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-top: 20px;
  }
}
