/* css/fourth-screen.css */

.pagecrm_fourth-screen {
  padding: 50px 20px;
  background: none;
  color: var(--text-color);
  text-align: center;
}

.pagecrm_container {
  max-width: 2000px;
  margin: 0 auto;
  position: relative; /* Добавляем относительное позиционирование */
}

.pagecrm_fourth-screen h2 {
  font-size: 45px;
  margin-bottom: 46px;
  margin-top: 60px;
}

.pagecrm_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Добавляем относительное позиционирование */
}

.pagecrm_crm-benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1167px;
  height: auto;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 50px 60px;
  z-index: 1;
}

.pagecrm_benefit {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: -20px;
}

.pagecrm_benefit-icon {
  width: 90px;
  height: auto;
}

.pagecrm_crm-benefits p {
  font-size: 36px;
  text-align: left;
  color: var(--text-color);
  line-height: 2.1;
}

.pagecrm_crm-analytics-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; /* Устанавливаем больший z-index для наложения */
}

.pagecrm_crm-analytics {
  display: flex;
  align-items: center; /* Выровнять по вертикали */
}

.pagecrm_analytics-image {
  width: 491px;
  height: auto;
}

@media (max-width: 768px) {
  .pagecrm_fourth-screen {
    padding: 30px 10px;
  }

  .pagecrm_container {
    padding: 0 10px;
  }

  .pagecrm_crm-benefits .pagecrm_benefit-icon {
    width: 40px;
    height: auto;
  }

  .pagecrm_fourth-screen h2 {
    font-size: 20px;
  }

  .pagecrm_content {
    flex-direction: column;
    align-items: center;
  }

  .pagecrm_crm-benefits {
    width: auto;
    height: 266px;
    padding: 20px 20px;
    margin-right: 0;
  }

  .pagecrm_benefit {
    width: 100%;
    margin: 10px 0;
  }

  .pagecrm_crm-benefits p {
    font-size: 14px;
  }

  .pagecrm_analytics-image {
    display: none;
  }
}
