/* css/fourth-screen.css */

.pagecrm_fourth-screen {
  padding: 50px 100px;
  background: var(--bg-color);
  color: var(--text-color);
}

.pagecrm_fourth-screen h2 {
  font-size: 45px;
  margin-bottom: 30px;
  text-align: center;
}

.pagecrm_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagecrm_crm-benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: none; /* Убираем автоматическое изменение размера */
  width: 1167px;
  height: 504px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
}

.pagecrm_crm-benefits .pagecrm_benefit {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.pagecrm_crm-benefits .pagecrm_benefit-icon {
  width: 40px;
  height: 40px;
}

.pagecrm_crm-benefits p {
  font-size: 36px;
  color: var(--text-color);
}

.pagecrm_crm-analytics {
  display: flex;
  justify-content: flex-end; /* перемещает телефон вправо */
  flex: 1;
}

.pagecrm_crm-analytics .pagecrm_analytics-image {
  max-width: 70%;
  height: auto;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .pagecrm_fourth-screen {
    padding: 30px 10px;
  }

  .pagecrm_fourth-screen h2 {
    font-size: 20px;
  }

  .pagecrm_content {
    flex-direction: column;
    align-items: center;
  }

  .pagecrm_crm-benefits {
    width: 340px;
    height: 266px;
    margin-right: 0;
  }

  .pagecrm_crm-benefits .pagecrm_benefit {
    flex: none;
    width: 100%;
    margin: 10px 0;
  }

  .pagecrm_crm-benefits p {
    font-size: 14px;
  }

  .pagecrm_crm-analytics .pagecrm_analytics-image {
    display: none; /* скрывает картинку на мобильной версии */
  }
}
