/* css/fourth-screen.css */

.pagecrm_fourth-screen {
  padding: 50px 20px;
  background: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}

.pagecrm_container {
  max-width: 1400px;
  margin: 0 auto;
}

.pagecrm_fourth-screen h2 {
  font-size: 45px;
  margin-bottom: 30px;
}

.pagecrm_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagecrm_crm-benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
}

.pagecrm_benefit {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.pagecrm_benefit-icon {
  width: 90px;
  height: auto;
}

.pagecrm_crm-benefits p {
  font-size: 36px;
  color: var(--text-color);
}

.pagecrm_crm-analytics {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.pagecrm_analytics-image {
  width: 491px;
  height: auto;
}

@media (max-width: 768px) {
  .pagecrm_fourth-screen {
    padding: 30px 10px;
  }

  .pagecrm_container {
    padding: 0 10px;
  }

  .pagecrm_crm-benefits .pagecrm_benefit-icon {
    width: 40px;
    height: auto;
  }

  .pagecrm_fourth-screen h2 {
    font-size: 20px;
  }

  .pagecrm_content {
    flex-direction: column;
    align-items: center;
  }

  .pagecrm_crm-benefits {
    width: 100%;
    margin-right: 0;
  }

  .pagecrm_benefit {
    width: 100%;
    margin: 10px 0;
  }

  .pagecrm_crm-benefits p {
    font-size: 14px;
  }

  .pagecrm_analytics-image {
    display: none;
  }
}
