/* css/main.css */

@import url("variables.css");
@import url("header.css");
@import url("first-screen.css");
@import url("second-screen.css");
@import url("third-screen.css");
@import url("fourth-screen.css");
@import url("fifth-screen.css");
@import url("sixth-screen.css");
@import url("seventh-screen.css");
@import url("eighth-screen.css");
@import url("footer.css");

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-image: var(--background-image);
  background-size: var(--background-size);
  background-repeat: var(--background-repeat);
  background-position: var(--background-position);
}