/* css/seventh-screen.css */

.pagecrm_form2-screen {
  padding: 50px;
  background: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}

.pagecrm_form2-screen h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.pagecrm_form2-screen p {
  font-size: 18px;
  margin-bottom: 30px;
}

.pagecrm_form2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pagecrm_form2-application-form {
  position: relative;
  background: var(--form2-bg);
  filter: var(--form2-glow);
  padding: 20px;
  border-radius: 32px;
  width: 912px;
  height: 565px;
  text-align: left;
  color: var(--text-color);
  transition: transform 0.3s;
  overflow: hidden;
}

.pagecrm_form2-application-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(
    135deg,
    hsl(0, 0%, 100%) 0%,
    hsl(310, 100%, 80%) 50%,
    hsl(207, 80%, 70%) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.pagecrm_form2-application-form:hover {
  transform: scale(1.02);
}

.pagecrm_form2-application-form h3 {
  border-radius: 32px;
  font-size: 42px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 15px;
}

.pagecrm_form2-application-form p {
  font-size: 20px;
  margin-bottom: 20px;
}

.pagecrm_form2-application-form input,
.pagecrm_form2-application-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: var(--search-bar-bg);
  color: var(--text-color);
}

.pagecrm_form2-application-form button {
  padding: 15px 30px;
  font-size: 16px;
  background: var(--cta-bg);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagecrm_form2-application-form button:hover {
  background-color: var(--cta-hover-bg);
}

.pagecrm_form2-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagecrm_form2-illustration img {
  max-width: 100%;
  height: auto;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .pagecrm_form2-screen {
    padding: 30px 10px;
  }

  .pagecrm_form2-container {
    flex-direction: column;
    gap: 20px;
  }

  .pagecrm_form2-application-form {
    width: 344px;
    height: 438px;
  }

  .pagecrm_form2-illustration img {
    max-width: 100%;
  }
}
