/* css/seventh-screen.css */

.pagecrm_seventh-screen {
  padding: 50px;
  background: linear-gradient(
    135deg,
    var(--bg-color) 0%,
    var(--header-bg) 100%
  );
  color: var(--text-color);
  text-align: center;
}

.pagecrm_seventh-screen h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.pagecrm_seventh-screen p {
  font-size: 18px;
  margin-bottom: 30px;
}

.pagecrm_form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pagecrm_illustration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagecrm_illustration img {
  max-width: 100%;
  height: auto;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .pagecrm_seventh-screen {
    padding: 30px 10px;
  }

  .pagecrm_form-container {
    flex-direction: column;
    gap: 20px;
  }

  .pagecrm_application-form {
    width: 100%;
    max-width: 300px;
  }

  .pagecrm_illustration img {
    max-width: 100%;
  }
}
