/* css/third-screen.css */

.pagecrm_third-screen {
  padding: 50px;
  background: linear-gradient(135deg, var(--bg-color) 0%, var(--header-bg) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagecrm_application-form {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 400px;
  max-width: 100%;
  text-align: center;
  color: var(--text-color);
}

.pagecrm_application-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.pagecrm_application-form p {
  margin-bottom: 20px;
}

.pagecrm_application-form input,
.pagecrm_application-form select,
.pagecrm_application-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: var(--search-bar-bg);
  color: var(--text-color);
}

.pagecrm_application-form input::placeholder,
.pagecrm_application-form select::placeholder,
.pagecrm_application-form textarea::placeholder {
  color: #ccc;
}

.pagecrm_application-form button {
  padding: 15px 30px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--cta-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagecrm_application-form button:hover {
  background-color: var(--cta-hover-bg);
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .pagecrm_third-screen {
    padding: 30px 10px;
  }

  .pagecrm_application-form {
    padding: 20px;
    width: 100%;
  }

  .pagecrm_application-form h2 {
    font-size: 20px;
  }

  .pagecrm_application-form button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
