/* css/third-screen.css */

.pagecrm_third-screen {
  padding: 50px;
  background: linear-gradient(
    135deg,
    var(--bg-color) 0%,
    var(--header-bg) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagecrm_application-form {
  background: rgba(72, 5, 114, 0.49); /* rgba цвет с альфа-каналом */
  padding: 30px;
  border-radius: 32px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 652px;
  height: 776px;
  text-align: center;
  color: var(--text-color);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagecrm_application-form:hover {
  transform: scale(1.02);
}

.pagecrm_application-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.pagecrm_application-form p {
  margin-bottom: 20px;
}

.pagecrm_application-form input,
.pagecrm_application-form select,
.pagecrm_application-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: var(--search-bar-bg);
  color: var(--text-color);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, background 0.3s;
}

.pagecrm_application-form input:focus,
.pagecrm_application-form select:focus,
.pagecrm_application-form textarea:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background: hsla(0, 0%, 100%, 0.2);
}

.pagecrm_application-form input::placeholder,
.pagecrm_application-form select::placeholder,
.pagecrm_application-form textarea::placeholder {
  color: #aaa;
}

.pagecrm_application-form textarea {
  flex: 1;
}

.pagecrm_application-form button {
  padding: 15px 30px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--cta-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.pagecrm_application-form button:hover {
  background-color: var(--cta-hover-bg);
  transform: scale(1.05);
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .pagecrm_third-screen {
    padding: 30px 10px;
  }

  .pagecrm_application-form {
    padding: 20px;
    width: 340px; /* Ширина формы на мобильных устройствах */
    height: 612px; /* Высота формы на мобильных устройствах */
  }

  .pagecrm_application-form h2 {
    font-size: 20px;
  }

  .pagecrm_application-form button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
