/* css/variables.css */

:root {
  --font-family: "Play", sans-serif;
  --bg-color: hsl(270, 100%, 34%);
  --text-color: white;
  --header-bg: hsla(265, 97%, 13%, 0.3);
  --nav-link-hover: hsl(0, 0%, 100%);
  --cta-bg: hsl(270, 100%, 15%);
  --cta-hover-bg: hsl(270, 100%, 34%);
  --burger-color: white;
  --search-bar-bg: hsla(0, 0%, 100%, 0.1);
  --search-bar-border: hsla(0, 0%, 100%, 0.3);
  --box-shadow: 0 0 15px #383fec, 0 0 30px #23ffff, 0 0 45px #383fec;
  --glow-color: hsl(281, 100%, 77%); /* #D795FF */
  --glow-gradient: hsl(270, 40%, 60%); /* #815C98 */
}
